@tailwind base;
@tailwind components;
@tailwind utilities;





@layer base {

  :root {
    --root-font-size: 10px;
    --root-font-family: sans-serif;
    --root-color: rgba(0, 0, 0, 0.788);
    --root-primary-color: rgb(2, 1, 128);
  }

  html {
    font-size: var(--root-font-size);
    font-family: var(--root-font-family);
  }

  h1, h2, h3, h4, h5, h6 {
    color: var(--root-color);
  }
}



@layer components {
    
    /* Padding Edges for Responsive Design */
    .p--x-12 {
      @apply
        px-12
      ;
    }
    /* Padding Edges for Responsive Design */



  
    .nav-menu .brand {
      @apply w-56 
    }

    .nav-menu .menu-item {
      @apply 
        text-2xl
        font-semibold
        tracking-wide
    }

    .section-2-product-slide .products--wrapper .product-slide--title h2 {
      @apply
        text-5xl/tight font-black text-skin-dark-blue
      ;
    }

    .product--details h4 {
      @apply
        text-3xl/relaxed
        font-semibold
      ;
    }

    .product--details small {
      @apply
        text-3xl
        font-black
      ;
    }
    
    /* .product--details p {
      @apply
        text-xl/relaxed font-semibold
      ; 
    } */
    
    /* For Home Product List */
    .product--details .products-img-wrap {
      @apply
        h-80
        border border-slate-100
      ;
    }
    .product--details .products-img-wrap img {
      @apply
        w-full 
        h-full
        object-fill
      ;
    }
    /* For Home Product List */




    /* For Single Product Page */
    .product-img-wrap {
      @apply
        flex justify-between flex-row
        h-60
      ;
    }
    .product-info-wrap {
      @apply 
        flex 
        flex-col
      ;
    }
    .product-info-wrap h4 {
      @apply
        mb-0
        text-12xl/normal
        font-black
      ;
    }
    .product-info-wrap small {
      @apply
        text-2xl
        text-orange-500
        font-bold
      ;
    }
    .product-info-wrap.single-product-info-wrap h4 {
      @apply
        mb-8
        text-5xl/less-snug
        font-black
      ;
    }
    .product-info-wrap.single-product-info-wrap h6 {
      @apply
        mb-0
        text-12xl
        font-black
      ;
    }
    .product-info-wrap.single-product-info-wrap h6 p {
      @apply
        mt-2 mb-6
        text-2xl/less-relaxed
        font-medium
      ;
    }
    /* For Single Product Page */




    .section-1-hero {
      @apply
        bg-hero 
        bg-no-repeat 
        bg-d-axis
        bg-100%
        pt-56
      ;
    }
    .section-1-hero .hero--top > h1 {
      @apply
        text-7xl/tight
        font-black
        /* text-skin-dark-blue */
        text-white
      ;
    }
    .section-1-hero .hero--top div:last-of-type img {
      @apply 
        w-full
        h-full 
        object-cover
      ;
    }
    .section-1-hero .hero--top form button {
      @apply 
        text-white
          bg-skin-dark-blue
      ;
    }

}