@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {

  :root {
    --root-font-size: 10px;
    --root-font-family: sans-serif;
    --root-color: rgba(0, 0, 0, 0.788);
    --root-primary-color: rgb(2, 1, 128);
  }

  html {
    font-size: var(--root-font-size);
    font-family: var(--root-font-family);
  }

  h1, h2, h3, h4, h5, h6 {
    color: var(--root-color);
  }
}



@layer components {
    .nav-menu .brand {
      @apply w-56 
    }

    .nav-menu .menu-item {
      @apply 
        text-2xl
        font-semibold
        tracking-wide
    }

    .hero--title h1 {
      @apply
        text-5xl/tight font-black text-skin-dark-blue
      ;
    }

    .product--details h4 {
      @apply
        text-3xl/relaxed
        font-semibold
      ;
    }

    .product--details p {
      @apply
        text-xl/relaxed font-semibold
      ; 
    }

    .product--details .product-img-wrap {
      @apply
        h-96
      ;
    }

    .product--details img {
      @apply
        w-full h-full
      ;
    }

    .product-info-wrap {
      @apply 
        pt-6
        pb-16
        px-8
      ;
    }

    .product-info-wrap h4 {
      @apply
        mb-0
      ;
    }

    .product-info-wrap p {
      @apply
        mb-3
      ;
    }

    .product-info-wrap small {
      @apply
        text-xl
        italic
        font-semibold
      ;
    }

    .hero--top > div > h1 {
      @apply
        text-7xl/tight
        font-black
        /* text-skin-dark-blue */
        text-white
      ;
    }

    /* .hero--top div:last-of-type {
      @apply
        w-full 
        lg:w-154 
        h-140
        hidden
        lg:inline-flex
      ;
    } */

    .hero--top div:last-of-type img {
      @apply 
        w-full
        h-full 
        object-cover
      ;
    }

    .hero--top form button {
      @apply 
        text-white
          bg-skin-dark-blue
      ;
    }

    .section-1-hero {
      @apply
        bg-hero 
        bg-no-repeat 
        bg-d-axis
        bg-100%
        pt-56
      ;
    }

    .section-1-hero .home-container {
      @apply
        flex
        flex-col
        pt-12 
        pb-40
        px-12
      ;
    }

    .section-2-product-slide .home-container {
      @apply
        px-12
      ; 
    }
    
}