@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {

  :root {
    --root-font-size: 10px;
    --root-font-family: sans-serif;
    --root-color: rgba(0, 0, 0, 0.788);
    --root-primary-color: rgb(2, 1, 128);
  }

  html {
    font-size: var(--root-font-size);
    font-family: var(--root-font-family);
  }

  h1, h2, h3, h4, h5, h6 {
    color: var(--root-color);
  }
}


@layer components {
    .nav-menu .brand {
      @apply w-56 
    }

    .nav-menu .menu-item {
      @apply 
        text-2xl
        font-semibold
        tracking-wide
    }

    .page-title h1 {
      @apply
        text-5xl/tight font-black text-skin-dark-blue
      ;
    }

    .product--details h4 {
      @apply
        text-3xl/relaxed
        font-semibold
      ;
    }

    .product--details p {
      @apply
        text-xl/relaxed font-semibold
      ; 
    }

    .product--details .product-img-wrap {
      @apply
        min-h-80 h-full
      ;
    }

    .product--details img {
      @apply
        w-full h-full
      ;
    }

    .product-info-wrap {
      @apply 
        p-6
      ;
    }

    .product-info-wrap h4 {
      @apply
        mb-0
      ;
    }

    .product-info-wrap p {
      @apply
        mb-3
      ;
    }

    .product-info-wrap small {
      @apply
        text-xl
        italic
        font-semibold
      ;
    }
}